{% extends 'news/list.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block list %}
<section class="blogpost-w3ls">
	<div class="container">
		<h3 class="text-center slideanim">{{ new.category }}</h3>
		<p class="text-center slideanim">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<div class="row">
			<!-- SINGLE POST -->
			<div class="col-lg-8 slideanim">
				<!-- Blog Post 1 -->

					<div class="hover01 column">
						<div>
                            {% thumbnail new.image '850x400' crop="center" as im %}
							<figure><img class="img-responsive" src="{{ im.url }}" alt="{{ new.title }}"></figure>
                            {% endthumbnail %}
						</div>
					</div>

				<a href="{{ new.get_absolute_url }}"><h3 class="ctitle">{{ new.title }}</h3></a>
				<p class="blog-p1"><small>Додано: {{ new.posted }}</small> | 3 коментаря</p>
				<p class="blog-p2">{{ new.content }}</p>
				<div class="spacing"></div>
				<h4>Поділитись:</h4>
				<ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-google-plus"></i></a>
					</li>
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
					<li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-vk"></i></a>
                    </li>
                </ul>
			</div><!-- /col-lg-8 -->
			<!-- SIDEBAR -->
{% endblock list %}