{% extends 'news/list.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block list %}
<section class="blogpost-w3ls">
	<div class="container">
		<h3 class="text-center slideanim">{{ new.category }}</h3>
		<p class="text-center slideanim">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<div class="row">
			<!-- SINGLE POST -->
			<div class="col-lg-8 slideanim">
				<!-- Blog Post 1 -->

					<div class="hover01 column">
						<div>
                            {% thumbnail new.image '850x400' crop="center" as im %}
							<figure><img class="img-responsive" src="{{ im.url }}" alt="{{ new.title }}"></figure>
                            {% endthumbnail %}
						</div>
					</div>

				<a href="{{ new.get_absolute_url }}"><h3 class="ctitle">{{ new.title }}</h3></a>
				<p class="blog-p1"><small>Додано: {{ new.posted }}</small> | 3 коментаря</p>
				<p class="blog-p2">{{ new.content }}</p>
				<div class="spacing"></div>
				<h4>Поділитись:</h4>
				<ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-google-plus"></i></a>
					</li>
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
					<li>
                        <a href="#" class="btn-social"><i class="fa fa-fw fa-vk"></i></a>
                    </li>
                </ul>
                				 <!-- Comments Form -->
{#                <div class="comment-w3ls">#}
{#					<div class="well">#}
{#						<h4>Leave a Comment:</h4>#}
{#						<form action="#" method="post">#}
{#							<div class="form-group">#}
{#								<textarea class="form-control" rows="3">Leave a Comment</textarea>#}
{#							</div>#}
{#							<button type="submit" class="btn-outline">Submit</button>#}
{#						</form>#}
{#					</div>#}
{#				</div>#}
{#                <hr>#}

                <!-- Posted Comments -->
{#				<div class="comment-agile">#}
{#					<!-- Comment -->#}
{#					<div class="media">#}
{#						<a class="pull-left" href="#">#}
{#							<div class="hover01 column">#}
{#								<div>#}
{#									<figure><img class="media-object" src="images/comment-img1.jpg" alt="vegetable-farm"></figure>#}
{#								</div>#}
{#							</div>#}
{#						</a>#}
{#						<div class="media-body">#}
{#							<h4 class="media-heading">Kate Winslet#}
{#								<small>August 25, 2016 at 9:30 PM</small>#}
{#							</h4>#}
{#							<p class="blogpost-p2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Comment -->#}
{#					<div class="media">#}
{#						<a class="pull-left" href="#">#}
{#							<div class="hover01 column">#}
{#								<div>#}
{#									<figure><img class="media-object" src="images/comment-img2.jpg" alt="vegetable-farm"></figure>#}
{#								</div>#}
{#							</div>#}
{#						</a>#}
{#						<div class="media-body">#}
{#							<h4 class="media-heading">Britney Spears#}
{#								<small>August 27, 2016 at 9:30 PM</small>#}
{#							</h4>#}
{#							<p class="blogpost-p2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
{#							<!-- Nested Comment -->#}
{#							<div class="media">#}
{#								<a class="pull-left" href="#">#}
{#									<div class="hover01 column">#}
{#										<div>#}
{#											<figure><img class="media-object" src="images/comment-img3.jpg" alt="vegetable-farm"></figure>#}
{#										</div>#}
{#									</div>#}
{#								</a>#}
{#								<div class="media-body">#}
{#									<h4 class="media-heading">Lady Gaga#}
{#										<small>August 30, 2016 at 9:30 PM</small>#}
{#									</h4>#}
{#									<p class="blogpost-p2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
{#								</div>#}
{#							</div>#}
{#							<!-- End Nested Comment -->#}
{#						</div>#}
{#					</div>#}
{#				</div>#}

			</div><!-- /col-lg-8 -->
			<!-- SIDEBAR -->
{% endblock list %}