<div class="pogoSlider" id="js-main-slider">
	<div class="pogoSlider-slide" data-transition="barRevealDown" data-duration="1000"  style="background-image:url(../../static/images/banner1-1.jpg);">
		<div class="pogoSlider-slide-element">
			<h3>Розвиток села - розвиток України</h3>
		</div>
	</div>
	<div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="1000" style="background-image:url(../../static/images/banner2-2.jpg);">
		<div class="pogoSlider-slide-element">
			<h3>Наша ціль - радість селян</h3>
		</div>
	</div>
	<div class="pogoSlider-slide" data-transition="barRevealDown" data-duration="1000" style="background-image:url(../../static/images/banner3-3.jpg);">
		<div class="pogoSlider-slide-element">
			<h3>Праця біля землі - доктрина України</h3>
		</div>
	</div>
	<div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="1000"  style="background-image:url(../../static/images/banner4-4.jpg);">
		<div class="pogoSlider-slide-element">
			<h3>Без села, України не існує</h3>
		</div>
	</div>
</div>