<!DOCTYPE html>
<html lang="ua">
<head>
    {% load staticfiles %}
    <title>ТОВ "Агрохолдинг 2012"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Агрохолдинг 2012, агрохолдинг, аграрії, паї, земля" />
    <!-- css links -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/font-awesome.min.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/typo.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/hoverex-all.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/inner.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/caption-hover.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/circle-hover.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/slider.css" %} rel="stylesheet" type="text/css" media="all" />
    <link href={% static "css/style.css" %} rel="stylesheet" type="text/css" media="all" />
    <!-- /css links -->
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- font files -->
    <!-- js files  -->
    <script src={% static "js/SmoothScroll.min.js" %}></script>
    <script type="text/javascript" src={% static "js/modernizr.custom.js" %}></script>
<!-- /js files -->
</head>

{% block body %}
{% endblock body %}

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h4>Location</h4>
                    <p>3481 Melrose Place<br>Beverly Hills, Chicago 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Around the Web</h4>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>About Vegetable Farm</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
        </div>
	</div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>© 2016 Vegetable Farm. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
                </div>
            </div>
        </div>
		<a href="#myPage" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
    </div>
</footer>

</body>
</html>